header(ng-attr-subtitle=": Article")
  
#article.page-content
  .searchbar.searchbar-active
    .searchbar-input
      input(type="search", ng-model="search_query", ng-keypress="find_articles($event)") 
      a.searchbar-clear(ng-href="")
  .searchbar
    .searchbar-input
      input(type="search", ng-model="article_filter") 
      a.searchbar-clear(ng-href="")

  .list-block.media-list
    ul.media-group(ng-init="find_articles('')")
      li.media.repeat-item(ng-repeat="article in articles.response.docs | filter: article_filter")
        a.item-link.item-content(href="{{article.web_url}}", ng-show="article.multimedia[0].url")
          .item-media
            img(width="120", src="http://www.nytimes.com/{{article.multimedia[0].url}}")
          .item-inner
            .item-title-row
              .item-title {{ article.headline.main }}
            .item-text {{ article.lead_paragraph }}
            .item-subtitle {{ article.pub_date | date: 'fullDate' }}
