.footer.toolbar
	.toolbar-inner
		small.center
			| (c) {{licenseYear}} Shojib ngPhonegap.
			br
			| This seed is based on 
			a(href="http://www.angularjs.org") AngularJS, 
			a(href="http://requirejs.org") RequireJS, 
			a(href="http://coffeescript.org") Coffee-Script
			| , and 
			a(href="http://jade-lang.com") Jade.