<div ng-if="false">
    <div class="speed-table small-grid">
        <div ng-repeat="row in rows track by $index" class="row">
            <div ng-repeat="column in columns" style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)" class="col-md-1 thumbnail inline-center"></div>
        </div>
    </div>
    <div class="speed-table small-grid">
        <div ng-repeat="row in rows track by $index" class="row">
            <div ng-repeat="column in columns" style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)" class="col-md-1 thumbnail inline-center"></div>
        </div>
    </div>
    <div class="speed-table small-grid">
        <div ng-repeat="row in rows track by $index" class="row">
            <div ng-repeat="column in columns" style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)" class="col-md-1 thumbnail inline-center"></div>
        </div>
    </div>
    <div class="speed-table small-grid">
        <div ng-repeat="row in rows track by $index" class="row">
            <div ng-repeat="column in columns" style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)" class="col-md-1 thumbnail inline-center"></div>
        </div>
    </div>
</div>
<div class="speed-table grid">
    <div template="ngFor #row of rows" class="row">
        <div template="ngFor #column of columns" class="col-md-1 thumbnail inline-center">
            <div>{{cell[column][row]}}</div>
        </div>
    </div>
</div>
