.navbar
	.navbar-inner
		.left.sliding
			a.back.link(ng-href="/#/home", ng-if="!isHome")
				i.icon.icon-back
		.center.sliding ngGo{{ subtitle }}
		.right.sliding
			a.open-panel(ng-href="#")
				i.icon.icon-bars