header(ng-attr-subtitle=": Error")

.page-content
	.content-block.inset
		.content-block-inner
			div
				h4 404: Page Not Found

			p
				| The page you requested could not be found. Please contact 
				a(href="mailto:shojib1@gmail.com") Shojib
				|  or try again.