header(ng-attr-subtitle=": Translation")
  
#translation.page-content
  .content-block.inset
    .content-block-inner
      .buttons-row
        a.tab-link.button(ng-href="", ng-class="english", ng-click="setLang('en_US');english='active';bangla=''", ng-init="setLang('en_US');english='active';bangla=''") English
        a.tab-link.button(ng-href="", ng-class="bangla", ng-click="setLang('bn_BD');bangla='active';english=''") Bangla
      br
      h4.center
        u(translate="homepage.static.title")
        br
        small(translate="homepage.static.note")
      br
      p.center(translate="homepage.static.poem")
      br
      h5.center(translate="homepage.static.poet")