
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@font-face {
  font-family: "Sharifa";
  src: url("../fonts/Sharifa.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$color: #555;
$mainColor: #428bca;
$body-bg-color: #D8D8D8;
$view-bg-color: #F1F1F1;
$font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
$hoverColor: #428bca;
$banga-font-family: 'Sharifa';

body {
  background-color: $body-bg-color;
}

.block-center {
  margin-right: auto;
  margin-left: auto;
}

.inline-center {
  text-align: center;
}

.container {
  position: relative;
  padding: 0px 70px;
  color: $color;
  font-family: $font-family;

  h3, h5 {
    font-weight: bold;
  }
  
  .inline-center {
    text-align: center;
}
  
    .col-md-1 {
        margin-bottom: 0;
        width: 24px;
        height: 22px;
    }
.speed-table {
    font-size: 9px;
    font-weight: bold;
}

  .media-group {
    padding-left: 0;
  }

  ui-view {
    position: relative;
    display: block;
    min-height: 200px;
  }

  .wrapper {
    min-height: 300px;
    display: block;
    padding: 50px;
    margin-bottom: 20px;
    background-color: $view-bg-color;
    @include border-radius(3px);
    @include box-shadow(#aaa 0px 0px 3px);
  }

  .poem-container {
    font-size: 15px;

    h4 {
      small .cus-font {
        font-size: 16px;
      }
    }

    .poem {
      font-size: 20px;
    }

    h4 .cus-font {
      font-size: 25px;
    }

    h5 .cus-font {
      font-size: 18px;
    }

    .cus-font {
      font-family: $banga-font-family;
    }
  }

  .page-header {
    overflow: hidden;
    border-bottom: 0;
    .back {
      display: block;
      padding-top: 27px;
    }
  }

}
