header(ng-attr-subtitle="")
	
.content-block-title
.list-block.inset
	a.item-link.item-content(ng-href="#/article")
		.item-inner
			.item-title Article Demo
	a.item-link.item-content(ng-href="#/poem")
		.item-inner
			.item-title Translation Demo